 <form action="/upload" method="POST">
  
                <div class="form-group">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" name="title" id="title">

                  <label for="description" class="form-label">Description</label>
                  <textarea type="text" class="form-control" name="description" id="description"></textarea>

                  <label for="upload" class="form-label">Upload File</label>
                  <input type="file" class="form-control" name="upload" id="upload" row="2" cols="20">


                </div>
        
                <button type="submit" class="btn btn-primary">Upload</button>
        
              </form>